<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My Portefolio" />
    <meta name="author" content="WassCodeur Wachiou BOURAIMA">
    <meta name="keywords" content="WassCodeur, Wachiou Bouraima, Buraima, Wachiou, Wassiou, wassiou">
    <link rel="shortcut icon" href="..\assets\img\logo\favicon.ico" type="image/x-icon">
    <link href="../assets/css/style.css" rel="stylesheet">
    <title>Wa</>Codeur</title>
</head>

<body>
    <header>
        <div class="logo">
            <!-- <a href="#" class="">
                <img src="../assets/img/logo/logo.png" alt="logoWassCodeur" width="50%">
            </a> -->
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="index.php">Accueil</a></li>
                <li><a href="index.php?action=about">A propos</a></li>
                <li><a href="index.php?action=contact">Contact</a></li>
                <li><a href="index.php?action=blog">Blog</a></li>
                <li><a href="index.php?action=download">Télécharger Mon CV</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer>
        <div class="footer-menu">
            <div class="projets">
                <h3>projets</h3>
                <ul>
                    <li><a href="#">Projet 1</a></li>
                    <li><a href="#">Projet 2</a></li>
                    <li><a href="#">Projet 3</a></li>
                    <li><a href="#">Projet 4</a></li>

                </ul>
            </div>
            <div class="communauty">
                <h3>communauty</h3>
                <ul>
                    <li><a href="#">MLSA</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Télécharger Mon CV</a></li>
                </ul>
            </div>
            <div class="activities">
                <h3>activities</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="social_copy">
            <div class="social">
                <a href="https://www.facebook.com/WassCodeur" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/@WassCodeur" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/WassCodeur/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="copy">
                <p>&copy; 2023 <a href="#">WassCodeur</p>
            </div>
        </div>
    </footer>
</body>

</html>